

#console {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#console::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#main {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#main > span:nth-child(2) {
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#console {
    width: calc(100% - 24px);
    height: 90%;
    padding: 10px;
    overflow: auto;
    border: 2px solid #00FF00;
    background-color: #000;
    white-space: pre-wrap;
    position: relative;
    border-radius: 20px;

}

#console img {
    position: fixed;
    animation: XD infinite 20s;
    bottom: 32%;
    text-align: center;
    transform: translate(-5vw);

}

@keyframes XD {
    1% {
        transform: translate(-5vw);
    } 50% {
        transform: translate(50vw);
    } 100% {
        transform: translate(-5vw);
    }
}

input {
    width: calc(90% - 20px);
    padding: 10px;
    background-color: #000;
    color: #00FF00; 
    border: none;
    outline: none;
}

#input {
    padding: 15px;
    font-size: 15px;
}

button {
    width: calc(10% - 20px);
    padding: 10px;
    background-color: #00FF00;
    color: #000;
    border: none;
    cursor: pointer;
}

span {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 0;
    width: calc(100% - 20px);
}

.script {
    display: flex;
    justify-content: start;
    align-items: center;
}

.script input {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.script button {
    width: 200px;
    height: 50px;
}

#client_info > span > p {
    display: flex;
    margin: 0;
    padding: 0;
    color: #20ff03;
}

#client_info span {
    all: unset;
    display: flex;
    border-bottom: #348f28 2px solid;
    margin-bottom: 5px;
}

#client_info {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    color: #348f28;
}