body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(7px);
    min-height: 100vh;
    color: lime;


}

* {
    cursor: url("./assets/cursor.png"), default !important;
}


::-webkit-scrollbar {
    width:5px;
    padding: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius:0px;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background:#10fe60;
    border-radius:0px;
    padding: 5px;
}
    

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 58, 58, 0.589);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    max-width: 70vw;
    height: 60vh;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#data-container {
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}

#data-container > div {
    background-color: rgba(83, 83, 83, 0.356);
    margin: 10px;
    border-radius: 10px;
    width: 360px;
    overflow: hidden;
}

#data-container div > p:nth-child(odd) {
    color: rgb(136, 251, 255);

}


#data-container div > p:nth-child(even) {
    color: rgb(116, 245, 112);

}

#popup {
    position: absolute;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.Panic_Button {
    width: 100px;
    height: 100px;
    background-color: crimson;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    background-image: url(./assets/kim.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 300ms;
    border: #10fe60 5px solid;
}

.Panic_Button:hover {
    transition: 300ms;
    scale: 1.1;
    background-image: url(./assets/panic.jpg);
}